# .env

# =============================
# 🌐 Servidor
# =============================
PORT=4000
NODE_ENV=development

# =============================
# 🔐 Seguridad
# =============================
SECRET_JWT_KEY=your-secret-jwt-key
SALT_ROUNDS=10

# =============================
# 🗄️ MySQL LOCAL
# =============================
LOCAL_DB_HOST=localhost
LOCAL_DB_PORT=3306
LOCAL_DB_USER=root
LOCAL_DB_PASSWORD=tusabrasAES
LOCAL_DB_NAME=hotel_db

# =============================
# 🗄️ MySQL AIVEN
# =============================
AIVEN_DB_HOST=your-service.aivencloud.com
AIVEN_DB_PORT=23225
AIVEN_DB_USER=avnadmin
AIVEN_PASSWORD=delawebAES
AIVEN_DB_NAME=hotel_db